body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

button:active {
	background-color: #ccc;
}

#header {
	background-color: #666;
	color: white;
	padding: 0.7em;
	font-size: 1.5em;
    position: sticky;
    top: 0;
}

#buttons {
	padding: 1em;
	text-align: center;
}

#buttons .buttonContainer {
	display: inline-block;
	vertical-align: top;
	width: 9em;
	padding: 0.5em;
}

#buttons button {
	border: none;
    text-decoration: none;
    display: inline-block;
}

#buttons span {
	word-break: break-all;
}

#buttons .icon {
	margin: 0.25em;
	border-radius: 50%;
	font-size: 3em;
	padding: 0.5em;
	border: solid 1px #999;
}

#buttons .remove {
	background-color: transparent;
	padding: 0.2em;
	margin-left: 0.4em;
}

#offline {
	position: sticky;
	top: 0;
	overflow: hidden;
	background-color: rgb(255, 195, 31);
	color: #555;
	font-size: 1.15em;
	text-align: center;
	transition: all 500ms;
	opacity: 0;
}

#offline i {
	padding-right: 0.25em;
}

.left {
	float: left;
}

.right {
	float: right;
	padding-left: 1em;
}

.pointer {
	cursor: pointer;
}

.clear {
	clear: both;
}

/* Notif stlying */
#notifContainer {
	width: 100%;
	position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    bottom: 30px; /* 30px from the bottom */
	text-align: center; /* Centered text/block */
	visibility: hidden; /* Hidden by default. Visible on click */
}

#notif {
	display: inline-block;
    max-width: 75%; /* Set a max width */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    border-radius: 2px; /* Rounded borders */
	padding: 16px; /* Padding */
}

/* Show the notif when clicking on a button (class added with JavaScript) */
#notifContainer.show {
    visibility: visible; /* Show the notif */

/* Add animation: Take 0.5 seconds to fade in and out the notif. 
However, delay the fade out process for 2.5 seconds */
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#notif.red {
	background-color: #e55;
}

#notif.orange {
	background-color: #ea0;
}

#notif.green {
	background-color: #5c5;
}

/* Animations to fade the notif in and out */
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* CSS Clear */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}